@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

$pepe_color: #4C9641;

* {
    font-family: "Montserrat", sans-serif;
}

 .navbar {
     &.bg-black {
         background-color: #000 !important;
     }

     .navbar-nav {
         .nav-link {
             color: #fff;
             transition: 0.3s ease-in-out;

             &:hover {
                 color: $pepe_color;
             }
         }
     }
 }

 // INTRO

 .intro {
    img {
        width: 100%;
        border-radius: 5px;
    }

 }

 // Why us

 .why-us {
    background-color: #000;
    color: #fff;
    padding-bottom: 2rem;

    .accordion-button:focus {
        box-shadow: none;
    }

    .accordion-button:not(.collapsed) {
        background-color: #95d18c;
    }
 }

 .how-to-buy {
    background-color: #fff;
 }